.header__email {
  display: block;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 25px 0 0;
}

@media screen and (max-width: 930px) {
  .header__email {
    margin: 10px 0 0 0;
    font-size: 11px;
  }
}
