.header__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 930px) {
  .header__block {
    margin-right: 30px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
